*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { font-size: 62.5%; }

body { background-color: #1b1d20; }

img {
  display: block;
  max-width: 100%;
}

.slide {
  max-width: 38rem;
  margin: 2rem auto;
}

.slide__list {
  position: relative;
}

.slide__item {
  opacity: 0;
  top: 0;
  position: absolute;
  pointer-events: none;
}

.slide__item--active {
  opacity: 1;
  position: relative;
  pointer-events: initial;
}

.slide__thumb {
  display: flex;
}

.slide__thumb > span {
  flex: 1;
  display: block;
  height: .3rem;
  margin:  .5rem;
  border-radius: .3rem;
  background-color:  tomato;
}

.slide__thumb > span.active {
  background-color: cyan;
}